body {
    min-width: 320px;
    
    font-family: var(--font-body);
    color: var(--color-text-primary);
    line-height: 1.6;

    background-color: var(--color-bg);

    font-size: 14px;
}

main {
    margin-top: 90px;
}

section {
    margin-top: 90px;
}

.container {
    max-width: 1200px;
    width: 100%;

    margin: 0 auto;
    padding-inline: var(--gl-pad-in);
}