:root {
    /* Background */
    --color-bg: #F6FAFA;
    --color-surface: #FFFFFF;

    /* Text */
    --color-text-primary: #15323C;
    --color-text-secondary: #51707A;
    --color-text-muted: #7C949B;

    /* Primary */
    --color-primary: #2AAE8F;
    --color-primary-soft: #E4F4EF;

    /* Secondary */
    --color-secondary: #2B6E8F;
    --color-secondary-dark: #1F5470;

    /* Dark */
    --color-dark: #123840;

    /* Border */
    --color-border: #E1EAEA;
    --color-border-soft: #EDF3F3;

    --font-head: "Manrope", sans-serif;
    --font-body: "Inter", sans-serif;

    --gl-pad-in: 28px;
    --gl-pad-bl: 16px;

    --btn-bor-rad: 20px;
}