.benefits {
    margin-top: var(--sec-p-top);
    padding-block: calc(var(--sec-p-top) / 2);

    background-color: var(--color-surface);
}

.benefits__inner {
    & h2 {
        text-align: center;
    }
}

.benefits__grid {
    margin-top: 48px;

    display: grid;
    grid-template-columns: 
        repeat(auto-fit, minmax(250px, 1fr)); // автоматически перераспределяет копоненты в зависимости от ширины
    gap: 20px;
}

@media print {
    .benefits__grid {
        grid-template-columns: repeat(auto-fit, 100%);
    }
}