.benefits {
    padding-top: var(--sec-p-top);

    & h2 {
        text-align: center;
    }
}

.benefitsGrid {
    margin-top: 48px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card {
    border: 1px solid black;
}