.benefits {
    padding-top: var(--sec-p-top);
}

.benefitsInner {
    & h2 {
        text-align: center;
    }
}

.benefitsGrid {
    margin-top: 48px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;

    & h3 {
        overflow-wrap: break-word;
    }
}

.card {
    border: 1px solid black;
}