.footer {

    margin-top: calc(2 * var(--sec-p-top));
    padding-inline: var(--gl-pad-in);
    padding-block: var(--gl-pad-bl);

    background-color: var(--color-deep);
}

.footer__inline {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    & h3, h4 {
        color: var(--color-surface);
        margin-bottom: 8px;
    }

    & p, li {
        color: var(--color-deep-soft);
    }
}

.desc {
    max-width: 280px;
}

.nav {

    & ul {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    color: var(--color-deep-soft);
}

.contacts {
    & ul {
        list-style: disc;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
}

@media (max-width: 850px) {
    .footerInline {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 40px;
    }
}

@media print {
    .footer {
        display: none;
    }
}