.servicesTable {
    padding-top: var(--sec-p-top);
}

.servicesTable__filters {
    padding: 20px 40px;
    margin-bottom: 30px;

    background-color: var(--color-surface);

    box-shadow: var(--shadow-sm);

    border-radius: 14px;
}

.filters__head {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;

    padding-bottom: 20px;

    border-bottom: 1px solid var(--color-border-soft);

    & h3 {
        font-size: 1.5rem;
    }
}

.reset__filters {
    font-weight: bold;
    color: var(--color-secondary);

    transition: opacity .2s linear;

    &:hover {
        opacity: .8;
    }
}

.active-filters {
    position: absolute;
    top: 3px;
    left: 125px;
}

.current-filter {
    margin-right: 10px;

    transition: opacity .2s linear;

    &:hover {
        opacity: .6;
    }
}

.filters__grid {
    margin-top: 20px;
    padding-bottom: 20px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;

    color: var(--color-text-secondary);

    // border-bottom: 1px solid var(--color-border);
    
    & h4 {
        color: var(--color-text-primary);
        font-size: 1.1rem;
    }
}

.filter-item {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.servicesTable__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table-scroll {
    width: 100%;

    overflow:auto;
}

.table-content {
    width: 100%;
    min-width: 1000px;

    background-color: var(--color-surface);
    
    box-shadow: var(--shadow-sm);

    border-radius: 14px;

    border-collapse: collapse;

    & tbody tr:not(.empty-message) {

        transition: background .2s linear;
        
        &:hover {
            background-color: var(--color-primary-soft);
        }
    }

    & th, & td {
        padding: 25px 22px;
    }

    td {
        border-top: 1px solid var(--color-border-soft);
    }

    th:first-child,
    td:first-child {
        width: 80px;
    }

    th:last-child,
    td:last-child {
        width: 150px;
    }
}

.row-head {
    border-bottom: 1px solid var(--color-border);
}

.col-id {
    text-align: center;

    font-weight: bold;
}

.col-desc,
.col-cat,
.col-format {
    text-align: start;
}

.col-price {
    text-align: center;
}

.accent {
    padding: 5px 10px;

    border-radius: 20px;

    background-color: var(--color-primary-soft);

    color: var(--color-primary);
}

.empty-message {
    width: 100%;
    max-width: 100%;

    & td {
        margin: 0 auto;
        text-align: center;
    }
}