@use "@/shared/styles/mixins" as mixins;

.services {
    padding-top: calc(2 * var(--sec-p-top));
}

.servicesInner {
    & > p {
        max-width: 640px;
        margin-top: 12px;

        @include mixins.lede;
    }   
}

.servicesGrid {
    margin-top: 28px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
}

.buttonArea {
    margin-top: 28px;
}

@media (max-width: 460px) {
    .servicesGrid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 20px;
    }
}