@use "@/shared/styles/mixins" as mixins;

.services {
    padding-top: calc(2 * var(--sec-p-top));
}

.services__inner {
    // непосредственный дочерний элемент
    & > p {
        max-width: 640px;
        margin-top: 12px;

        @include mixins.lede;
    }   
}

.services__grid {
    margin-top: 28px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
}

@media (max-width: 460px) {
    .servicesGrid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 20px;
    }
}

@media print {
    .services {
        padding-top: var(--sec-p-top);
    }

    .services__inner svg {
        display: none;
    }

    .services__grid {
        grid-template-columns: repeat(2, 1fr);
    }
}