@use "@/shared/styles/mixins" as mixins;

$lc-max-w: 520px;

.hero {
    display: grid;
    grid-template-columns: 1.05fr 0.95fr;
    gap: 56px;

    padding-top: var(--sec-p-top);
}

.heroIntro {

    & h1 {
        font-size: clamp(2.4rem, 3.4vw, 3.2rem);
        font-weight: 700;

        line-height: 1.2;
        letter-spacing: -0.1rem;
    }

    & p {
        max-width: $lc-max-w;

        margin-top: 20px;

        @include mixins.lede;
    }
}

.eyebrow {
    display: inline-flex;
    gap: 8px;
    align-items: center;

    padding: 9px 22px;
    margin-bottom: 15px;

    font-size: 0.9rem;
    font-weight: bold;
    color: var(--color-primary);

    background-color: var(--color-primary-soft);
    border-radius: var(--btn-bor-rad);

    & svg {
        width: 16px;
        height: 16px;

    }
}

.card {
    border: 1px solid black;
}

.actions {
    margin-top: 40px;
    
    display: flex;
    align-items: center;
    gap: 15px;
}

.note {
    max-width: $lc-max-w;

    margin-top: 32px;

    display: flex;
    align-items: start;
    gap: 10px;

    font-size: 0.9rem;
    
    color: var(--color-text-muted);

    & svg {
        width: 20px;
        height: 20px;

        margin-top: 2px;
        
        flex-shrink: 0;
        color: var(--color-primary);
    }
}