@mixin auth {
    min-height: 100dvh;

    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin auth__inner {
    max-width: 440px;
    width: 100%;

    padding: 18px 32px;

    background-color: var(--color-surface);

    box-shadow: var(--shadow);

    border-radius: 20px;
}

@mixin auth__intro {
    padding-top: 12px;

    display: flex;
    flex-direction: column;
    gap: 8px;
}

@mixin auth__form {
    margin-top: 26px;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

@mixin input__area {
    display: flex;
    flex-direction: column;
    gap: 6px;

    & label {
        font-weight: bold;
        font-size: 0.95rem;
    }

    & input {
        padding: 11px 14px;

        border: 1px solid var(--color-border);
        border-radius: 15px;

        outline: none;

        transition: border-color .2s ease, box-shadow .2s ease;

        &:hover {
            border-color: color-mix(
                in srgb,
                #d1d5db 90%,
                black
            );
        }

        &:focus {
            box-shadow: 5px 5px 0 var(--color-primary);
        }
    }
}

@mixin button__area {
    width: 100%;

    & button {
        width: 100%;
    }
}

@mixin auth__footer {
    margin-top: 30px;
    padding-block: 20px;

    border-top: 1px solid var(--color-border);

    display: flex;
    justify-content: center;
}