.servicesTable {
    padding-top: var(--sec-p-top);
}

.table-scroll {
    width: 100%;

    overflow:auto;
}

.table-content {
    width: 100%;
    min-width: 600px;

    background-color: var(--color-surface);
    
    box-shadow: var(--shadow-sm);

    border-radius: 14px;

    border-collapse: collapse;

    & tbody tr {

        transition: background .2s linear;
        
        &:hover {
            background-color: var(--color-primary-soft);
        }
    }

    & th, & td {
        padding: 18px 22px;
    }

    th:first-child,
    td:first-child {
        width: 80px;
    }

    th:last-child,
    td:last-child {
        width: 150px;
    }
}

.row-head {
    border-bottom: 1px solid var(--color-border);
}

.col-id {
    text-align: center;

    font-weight: bold;
}

.col-desc {
    text-align: start;
}