.servicesTable {
    padding-top: var(--sec-p-top);
}

.table-scroll {
    width: 100%;

    overflow:auto;
}

.sort {
    margin-bottom: 8px;
    padding: 16px 22px;

    background-color: var(--color-surface);
}

.sort__dropdown {
    
}

// .table-hint {
//     display: flex;
//     // justify-content: end;
// }

// .table-sort-select {
//     margin-bottom: 8px;
//     padding: 16px 22px;

//     border: 1px solid var(--color-border);
//     border-radius: 20px;

//     background: 
//         var(--color-surface) 
//         url("@/shared/icons/ChevronDown.svg")
//         no-repeat
//         right 12px
//         center;
//     background-size: 1.5rem;

//     appearance: none;

// }

.table-content {
    width: 100%;
    min-width: 600px;

    background-color: var(--color-surface);
    
    box-shadow: var(--shadow-sm);

    border-radius: 14px;

    border-collapse: collapse;

    & tbody tr {

        transition: background .2s linear;
        
        &:hover {
            background-color: var(--color-primary-soft);
        }
    }

    & th, & td {
        padding: 18px 22px;
    }

    th:first-child,
    td:first-child {
        width: 80px;
    }

    th:last-child,
    td:last-child {
        width: 150px;
    }
}

.row-head {
    border-bottom: 1px solid var(--color-border);
}

.col-id {
    text-align: center;

    font-weight: bold;
}

.col-desc {
    text-align: start;
}

.col-price {
    text-align: center;
}