.page {
    min-height: 100vh;
}

.container {
    max-width: var(--content-width);
    width: 100%;

    margin: 0 auto;
}

.headerContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    padding-block: 10px;

    background-color: var(--color-surface);
}

.logo {
    color: var(--color-primary);
}

.navigation {
    $base-gap: 20px;

    display: flex;
    align-items: center;
    gap: $base-gap * 4;

    & ul {
        display: flex;
        gap: $base-gap;
    }
}

.hero {
    background-color: var(--color-primary-light);
}

.heroContent {
    width: 100%;
    max-width: 600px;

    display: flex;
    flex-direction: column;
    gap: 30px;

    padding-block: 80px;
}

.heroTitle {
    line-height: 1.2;
}

.heroDescription {
    color: var(--color-text-muted);
}
