.siteHeader {
    position: sticky;
    z-index: 100;

    width: 100%;

    border-bottom: 1px solid var(--color-border);

    backdrop-filter: blur(10px);
}

.headerInner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: var(--gl-pad-bl) var(--gl-pad-in);
}

.logo {
    font-size: 2rem;
}

.mainNav {
    display: flex;
    gap:6px;
}

.navLink {
    padding: 9px 14px;

    color: var(--color-text-secondary);
    font-weight: bold;

    border-radius: var(--btn-bor-rad);

    transition: background .25s linear, color .25s linear;

    &:hover {
        background-color: var(--color-border-soft);
        color: var(--color-text-primary);
    }
}

.buttonPrimary {
    padding: 9px 21px;

    color: var(--color-surface);
    font-weight: bold;

    background-color: var(--color-secondary);
    border-radius: var(--btn-bor-rad);

    transition: background .25s linear;

    &:hover {
        background-color: var(--color-secondary-dark);
    }
}