@use "@/shared/styles/mixins" as mixins;

.card {
    @include mixins.feature-card; 

    box-shadow: var(--shadow);

    & h3 {
        font-size: clamp(1.2rem, 3.4vw, 1.1rem);
    }
}

.icon {
        
    & svg {
        @include mixins.card-icon;

        color: var(--color-primary);
        background-color: var(--color-primary-soft);
    }
}