@use "@/shared/styles/mixins" as mixins;

.card {
    @include mixins.feature-card; 

    box-shadow: var(--shadow);
}

.icon {
        
    & svg {
        @include mixins.card-icon;

        color: var(--color-primary);
        background-color: var(--color-primary-soft);
    }
}